.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: var(--dark-turquoise);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

/* Split Containers */
.splitTop,
.splitBottom {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* TOP SECTION */
.splitTop {
  height: 150px;
  align-items: flex-end;
  margin-bottom: -25px;
}

.imageUp {
  width: auto;
  height: 160px;
  object-fit: contain;
}

/* BOTTOM SECTION */
.splitBottom {
  height: 100px;
  align-items: flex-start;
  margin-top: -25px;
}

.imageDown {
  width: auto;
  height: 40px;
  object-fit: contain;
}

/* Tablet */
@media (max-width: 768px) {
  .splitTop {
    height: 130px;
    margin-bottom: -20px;
  }

  .imageUp {
    height: 130px;
  }

  .splitBottom {
    height: 80px;
    margin-top: -20px;
  }

  .imageDown {
    height: 35px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .preloader {
    height: 100svh;
  }

  .splitTop {
    height: 100px;
    margin-bottom: -15px;
  }

  .imageUp {
    height: 100px;
  }

  .splitBottom {
    height: 60px;
    margin-top: -15px;
  }

  .imageDown {
    height: 30px;
  }
}